
<article id="case" class="single">
  <header class="case-header"><a href="javascript:void(0);" ng-click="close()" class="icon icon-cross"></a><a href="javascript:void(0);" ng-click="prev()" class="icon icon-chevron-left"></a><a href="javascript:void(0);" ng-click="next()" class="icon icon-chevron-right"></a>
    <h1>{{caso | casoName}}</h1>
    <div class="location"><span class="icon icon-pin"></span>
      <p class="location-info"><a ng-click="focusMap(caso)" href="javascript:void(0);" ng-bind-html="caso | caseLocation:true"></a></p>
    </div>
    <div class="case-meta">
      <div ng-show="caso.aldeia" class="village meta"><span class="icon icon-circle"></span>
        <p>Aldeia {{caso.aldeia}}</p>
      </div>
      <div ng-show="caso.idade" class="age meta"><span class="icon icon-chevron-small-right"></span>
        <p>{{caso.idade}} anos</p>
      </div>
      <div class="date meta"><span class="icon icon-calendar"></span>
        <p ng-bind-html="caso | casoDate" class="date-info"></p>
      </div>
    </div>
  </header>
  <section ng-bind-html="caso.content" class="case-content"></section>
  <p ng-show="caso.relatorio" class="report"> <strong>Fonte:  </strong>{{caso.relatorio}}</p>
  <p ng-show="reported" class="reported">Obrigado por enviar sua contribuição.</p>
  <form id="denuncia" ng-submit="report(message)" ng-hide="reported">
    <p>Possui informações sobre este caso que pode contribuir para nossa base de dados?</p>
    <textarea ng-model="message" placeholder="Escreva aqui sua contribuição"></textarea>
    <input type="submit" value="Enviar contribuição">
  </form>
</article>