
<form id="casos-filters" ng-show="initialized"><a href="javascript:void(0);" ng-class="{'icon-chevron-down': !showAdvFilters, 'icon-chevron-up': showAdvFilters}" ng-click="toggleAdvFilters()" class="icon toggle-adv"></a>
  <input type="text" ng-model="filter.text" placeholder="Busque pelos casos...">
  <div ng-class="{active:showAdvFilters}" class="advanced-filters">
    <select ng-model="filter.strict.uf" ng-options="uf for uf in dropdownFilters.uf track by uf">
      <option value="">Selecione um estado</option>
    </select>
    <select ng-model="filter.strict.povo" ng-options="povo for povo in dropdownFilters.povo track by povo">
      <option value="">Selecione um povo</option>
    </select>
    <div range-slider min="dateFilters[0] || 0" max="dateFilters[1] || 0" model-max="filter.date.max" model-min="filter.date.min" show-values="true"></div>
  </div>
</form>