
<section id="dossies" ng-class="{collapsed: initialized}">
  <h2>Dossiês</h2>
  <ul class="dossie-list">
    <li>
      <div style="background-image:url(http://lorempixum.com/500/500/?1)" class="image"></div>
      <article>
        <h3><a>Assassinatos em Antonio João - MS</a></h3>
      </article>
    </li>
    <li>
      <div style="background-image:url(http://lorempixum.com/500/500/?2)" class="image"></div>
      <article>
        <h3><a>Assassinatos nas regiões dos processos do STF (MS)</a></h3>
      </article>
    </li>
    <li>
      <div style="background-image:url(http://lorempixum.com/500/500/?3)" class="image"></div>
      <article>
        <h3><a>Extermínio para tomada de terra por mineradora no Par&aacute;</a></h3>
      </article>
    </li>
    <li>
      <div style="background-image:url(http://lorempixum.com/500/500/?4)" class="image"></div>
      <article>
        <h3><a>Presídio Krenak Fluxo de prisões.</a></h3>
      </article>
    </li>
  </ul>
</section>
<section id="content" ui-view="" autoscroll="false">
  <section id="casos">
    <ul ng-show="casos.length &amp;&amp; initialized" class="caso-list">
      <li ng-repeat="caso in casos | limitTo:100" class="clearfix">
        <article>
          <div class="location"><span class="icon icon-pin"></span>
            <p ng-bind-html="caso | caseLocation" class="location-info"></p>
          </div>
          <header class="caso-header">
            <h3>{{caso | casoName}}</h3>
            <div class="header-meta">
              <div ng-show="caso.idade" class="age meta">
                <p>{{caso.idade}} anos</p>
              </div>
              <div class="date meta"><span class="icon icon-calendar"></span>
                <p ng-bind-html="caso | casoDate" class="date-info"></p>
              </div>
            </div>
          </header>
          <p>{{caso.descricao}}</p>
          <p ng-show="caso.fonte_cimi" class="source">Fonte: {{caso.fonte_cimi}}</p>
        </article>
      </li>
    </ul>
  </section>
</section>
<div class="map-container"><map id="map" markers="casos | postToMarker"></map></div>