
<section id="content" autoscroll="false"><a href="javascript:void(0);" ng-click="toggleCasos()" ng-show="initialized" ng-class="{&quot;collapsed&quot;: isDossier || !initialized, &quot;in-case&quot;: isCase, &quot;active&quot;: showList}" class="casos-toggle"> <span ng-hide="showList">Lista de casos</span><span ng-show="showList">-</span></a>
  <section id="casos" ng-class="{&quot;collapsed&quot;: isDossier || !initialized, &quot;in-case&quot;: isCase, &quot;active&quot;: showList}"><a href="javascript:void(0);" ng-click="downloadCasos(filtered)" class="dl-csv button"><span class="icon icon-download"> </span>CSV</a>
    <h2 class="results-count">{{filtered.length}} casos encontrados</h2>
    <ul ng-show="casos.length &amp;&amp; initialized" class="caso-list">
      <li ng-repeat="caso in (filtered | offset:currentPage*itemsPerPage | limitTo:itemsPerPage)">
        <article class="clearfix">
          <div class="location"><span class="icon icon-pin"></span>
            <p class="location-info"><a ng-click="focusMap(caso)" href="javascript:void(0);" ng-bind-html="caso | caseLocation"></a></p>
          </div>
          <header class="caso-header">
            <h3><a ui-sref="home.case({caseId: caso.ID})" force-onclick="600" force-parent="casos">{{caso | casoName}}</a></h3>
            <div class="header-meta">
              <div ng-show="caso.idade" class="age meta"><span class="icon icon-chevron-small-right"></span>
                <p>{{caso.idade}} anos</p>
              </div>
              <div class="date meta"><span class="icon icon-calendar"></span>
                <p ng-bind-html="caso | casoDate" class="date-info"></p>
              </div>
            </div>
          </header>
        </article>
      </li>
    </ul>
    <div class="paging"><span class="pages-info">{{currentPage+1}}/{{pageCount()+1}}</span><a ng-click="prevPage();" href="javascript:void(0);" ng-hide="prevPageDisabled()" scroll-up="'#casos'" class="prev">Página anterior</a><a ng-click="nextPage()" href="javascript:void(0);" ng-hide="nextPageDisabled()" scroll-up="'#casos'" class="next">Próxima página</a></div>
  </section>
</section>
<div ng-class="{full: isDossier, &quot;in-case&quot;: isCase, &quot;collapsed&quot;: showList &amp;&amp; initialized}" class="map-container"><map id="map" map-data="mapData" markers="filtered | postToMarker:&quot;home&quot;:&quot;home.dossier&quot;" heat-marker="false"></map></div>
<div ui-view></div>