
<section id="dossies" ng-show="dossiers.length" ng-class="{collapsed: initialized}">
  <h2>Dossiês</h2>
  <ul class="dossie-list">
    <li ng-repeat="dossier in dossiers">
      <div style="background-image:url({{dossier.featured_image.attachment_meta.sizes.large.url}});" class="image"></div>
      <article>
        <h3><a ui-sref="home.dossier({id: dossier.ID})">{{dossier.title}}</a></h3>
      </article>
    </li>
  </ul>
</section>
<section id="content" autoscroll="false">
  <section id="casos" ng-class="{collapsed: isDossier}">
    <ul ng-show="casos.length &amp;&amp; initialized" class="caso-list">
      <li ng-repeat="caso in casos | limitTo:100" class="clearfix">
        <article>
          <div class="location"><span class="icon icon-pin"></span>
            <p ng-bind-html="caso | caseLocation" class="location-info"></p>
          </div>
          <header class="caso-header">
            <h3>{{caso | casoName}}</h3>
            <div class="header-meta">
              <div ng-show="caso.idade" class="age meta">
                <p>{{caso.idade}} anos</p>
              </div>
              <div class="date meta"><span class="icon icon-calendar"></span>
                <p ng-bind-html="caso | casoDate" class="date-info"></p>
              </div>
            </div>
          </header>
          <p>{{caso.descricao}}</p>
          <p ng-show="caso.fonte_cimi" class="source">Fonte: {{caso.fonte_cimi}}</p>
        </article>
      </li>
    </ul>
  </section>
</section>
<div ng-class="{full: isDossier}" class="map-container"><map id="map" markers="casos | postToMarker"></map></div>
<div ui-view></div>