
<div id="tour">
  <div ng-show="isStep(1)" class="tour-step full">
    <div class="step-description">
      <h2>Bem-vindo ao tour</h2>
      <p>Clique em “Próximo passo” para conhecer a plataforma, que mapeia os assassinatos de indígenas no Brasil entre 1985 e 2015.</p>
    </div>
  </div>
  <div ng-show="isStep(2)" tour-focus="'.caso-list'" active="isStep(2)" direction="'right'" class="tour-step focused">
    <div class="step-description">
      <div class="arrow"></div>
      <h2>Lista de casos</h2>
      <p>Navegue pelos casos e conheça seus detalhes clicando em cada um.</p>
    </div>
  </div>
  <div ng-show="isStep(3)" tour-focus="'#casos-filters'" active="isStep(3)" direction="'right'" class="tour-step focused">
    <div class="step-description">
      <div class="arrow"></div>
      <h2>Filtros de casos</h2>
      <p>Pesquise por texto ou clique na seta para realizar uma busca avançada. Os resultados aparecem na lista e no mapa ao lado.</p>
    </div>
  </div>
  <div ng-show="isStep(4)" tour-focus="'#map'" active="isStep(4)" direction="'left'" class="tour-step focused">
    <div class="step-description">
      <div class="arrow"></div>
      <h2>Mapa de navegação</h2>
      <p>Os casos são reunidos por região. Altere o zoom e clique nos agrupamentos para ter acesso a cada caso específico.</p>
    </div>
  </div>
  <div ng-show="isStep(5)" tour-focus="'#mastnav'" active="isStep(5)" direction="'bottom'" class="tour-step focused">
    <div class="step-description">
      <div class="arrow"></div>
      <h2>Pesquisas e conteúdo</h2>
      <p>Conheça os dossiês temáticos, compartilhe a plataforma e acesse outras informações.</p>
    </div>
  </div>
  <nav id="tour-nav">
    <div class="nav-content"><a ui-sref="home" class="button">Pular tour</a><a href="javascript:void(0);" ng-click="prevStep()" class="button">Passo anterior</a><a href="javascript:void(0);" ng-click="nextStep()" ng-hide="isStep(total)" class="button primary">Próximo passo</a><a ui-sref="home" ng-show="isStep(total)" class="button primary">Acessar</a></div>
  </nav>
</div>