article#case.single
  header.case-header
    a(href="javascript:void(0);" ng-click="close()" class="icon icon-cross")
    a(href="javascript:void(0);" ng-click="prev()" class="icon icon-chevron-left")
    a(href="javascript:void(0);" ng-click="next()" class="icon icon-chevron-right")
    h1 {{caso | casoName}}
    .location
      span.icon.icon-pin
      p.location-info
        a(ng-click="focusMap(caso)" href="javascript:void(0);" ng-bind-html='caso | caseLocation:true')
    .case-meta
      .village.meta(ng-show='caso.aldeia')
        span.icon.icon-circle
        p Aldeia {{caso.aldeia}}
      .age.meta(ng-show='caso.idade')
        span.icon.icon-chevron-small-right
        p {{caso.idade}} anos
      .date.meta
        span.icon.icon-calendar
        p.date-info(ng-bind-html='caso | casoDate')
  section.case-content(ng-bind-html="caso.descricao")
  p.report(ng-show='caso.relatorio') 
    strong Fonte:  
    | {{caso.relatorio}}
    
  //- p.reported(ng-show="reported") Obrigado por enviar sua contribuição.
  //- form#denuncia(ng-submit="report(message)" ng-hide="reported")
  //-   p Possui informações sobre este caso que pode contribuir para nossa base de dados?
  //-   textarea(ng-model="message" placeholder="Escreva aqui sua contribuição")
  //-   input(type="submit" value="Enviar contribuição")
