article#dossier.single
  header.dossier-header
    h1 {{dossier.title}}
  section.dossier-content.single-content(tag-external)
    a.home-link(ui-sref="home")
      span.icon.icon-home
      | Voltar para o mapa principal
    p.excerpt(ng-show="dossier.excerpt") {{dossier.excerpt}}
    .share
      a.facebookShare(facebook-feed-share data-url="{{url}}")
      a(twitter data-count="horizontal" data-size="medium" data-text="{{dossier.title}}" data-url="{{url}}")
    div(ng-bind-html="dossier.content" fit-vids)
  section.dossier-author
    h2 Autor
    h3 {{dossier.author.name}}
    p {{dossier.author.description}}
