section#content(autoscroll='false')
  a.casos-toggle(href="javascript:void(0);" ng-click="toggleCasos()" ng-show="initialized" ng-class='{"collapsed": isDossier || !initialized, "in-case": isCase, "active": showList}') 
    span(ng-hide="showList") Lista de casos
    span(ng-show="showList") -
  section#casos(ng-class='{"collapsed": isDossier || !initialized, "in-case": isCase, "active": showList}')
    form#casos-filters(ng-show='initialized')
      a.icon.toggle-adv(href="javascript:void(0);" ng-class="{'icon-chevron-down': !showAdvFilters, 'icon-chevron-up': showAdvFilters}" ng-click="toggleAdvFilters()" title="Filtros avançados")
      input(type='text' ng-model='filter.text' placeholder='Busque pelos casos...')
      .advanced-filters(ng-class="{active:showAdvFilters}")
        select(ng-model='filter.strict.uf' ng-options='uf for uf in dropdownFilters.uf track by uf')
          option(value='') Selecione um estado
        select(ng-model='filter.strict.povo' ng-options='povo for povo in dropdownFilters.povo track by povo')
          option(value='') Selecione um povo
        select(ng-model='filter.strict.relatorio' ng-options='relatorio for relatorio in dropdownFilters.relatorio track by relatorio')
          option(value='') Selecione um relatório
        div(range-slider min='dateFilters[0] || 0' max='dateFilters[1] || 0' model-max='filter.date.max' model-min='filter.date.min' show-values="true")
    a.dl-csv.button(href="javascript:void(0);" ng-click="downloadCasos(filtered)")
      span.icon.icon-download 
      | CSV
    h2.results-count
      ng-pluralize(count="filtered.length" when="{'0': 'Nenhum caso encontrado', 'one': '1 caso encontrado', 'other': '{} casos encontrados'}")
    ul.caso-list(ng-show='casos.length && initialized')
      li(ng-repeat='caso in (filtered | offset:currentPage*itemsPerPage | limitTo:itemsPerPage)')
        article.clearfix
          .location
            span.icon.icon-pin
            p.location-info
              a(ng-click="focusMap(caso)" href="javascript:void(0);" ng-bind-html='caso | caseLocation')
          header.caso-header
            h3
              a(ui-sref='home.case({caseId: caso.ID})' force-onclick="'move'" force-parent='casos') {{caso | casoName}}
            .header-meta
              .age.meta(ng-show='caso.idade')
                span.icon.icon-chevron-small-right
                p {{caso.idade}} anos
              .date.meta
                span.icon.icon-calendar
                p.date-info(ng-bind-html='caso | casoDate')
          //- p {{caso.descricao}}
    .paging
      span.pages-info {{currentPage+1}}/{{pageCount()+1}}
      a.prev(ng-click="prevPage();" href="javascript:void(0);" ng-hide="prevPageDisabled()" scroll-up="'#casos'") Página anterior
      a.next(ng-click="nextPage()" href="javascript:void(0);" ng-hide="nextPageDisabled()" scroll-up="'#casos'") Próxima página

.map-container(ng-class='{full: isDossier, "in-case": isCase, "collapsed": showList && initialized && !isDossier}')
  map#map(map-data='mapData' markers='filtered | postToMarker:"home":"home.dossier"' heat-marker="false")
  
div(ui-view)
