section#dossies(ng-class='{collapsed: initialized}')
  h2 Dossiês
  ul.dossie-list
    li
      .image(style='background-image:url(http://lorempixum.com/500/500/?1)')
      article
        h3
          a Assassinatos em Antonio João - MS
    li
      .image(style='background-image:url(http://lorempixum.com/500/500/?2)')
      article
        h3
          a Assassinatos nas regiões dos processos do STF (MS)
    li
      .image(style='background-image:url(http://lorempixum.com/500/500/?3)')
      article
        h3
          a Extermínio para tomada de terra por mineradora no Par&aacute;
    li
      .image(style='background-image:url(http://lorempixum.com/500/500/?4)')
      article
        h3
          a Presídio Krenak Fluxo de prisões.
section#content(ui-view='', autoscroll='false')
  section#casos
    ul.caso-list(ng-show='casos.length && initialized')
      li.clearfix(ng-repeat='caso in casos | limitTo:100')
        article
          .location
            span.icon.icon-pin
            p.location-info(ng-bind-html='caso | caseLocation')
          header.caso-header
            h3 {{caso | casoName}}
            .header-meta
              .age.meta(ng-show='caso.idade')
                p {{caso.idade}} anos
              .date.meta
                span.icon.icon-calendar
                p.date-info(ng-bind-html='caso | casoDate')
          p {{caso.descricao}}
          p.source(ng-show='caso.fonte_cimi') Fonte: {{caso.fonte_cimi}}
.map-container
  map#map(markers='casos | postToMarker')
      
