#tour
  .tour-step.full(ng-show="isStep(1)")
    .step-description
      h2 Bem-vindo ao tour
      p Clique em “Próximo passo” para conhecer a plataforma, que mapeia os assassinatos de indígenas no Brasil entre 1985 e 2015.
  .tour-step.focused(ng-show="isStep(2)" tour-focus="'.caso-list'" active="isStep(2)" direction="'right'")
    .step-description
      .arrow
      h2 Lista de casos
      p Navegue pelos casos e conheça seus detalhes clicando em cada um.
  .tour-step.focused(ng-show="isStep(3)" tour-focus="'#casos-filters'" active="isStep(3)" direction="'right'")
    .step-description
      .arrow
      h2 Filtros de casos
      p Pesquise por texto ou clique na seta para realizar uma busca avançada. Os resultados aparecem na lista e no mapa ao lado.
  .tour-step.focused(ng-show="isStep(4)" tour-focus="'#map'" active="isStep(4)" direction="'left'")
    .step-description
      .arrow
      h2 Mapa de navegação
      p Os casos são reunidos por região. Altere o zoom e clique nos agrupamentos para ter acesso a cada caso específico.
  .tour-step.focused(ng-show="isStep(5)" tour-focus="'#mastnav'" active="isStep(5)" direction="'bottom'")
    .step-description
      .arrow
      h2 Pesquisas e conteúdo
      p Conheça os dossiês temáticos, compartilhe a plataforma e acesse outras informações.
    
  nav#tour-nav
    .nav-content
      a.button(ui-sref="home") Pular tour
      a.button(href="javascript:void(0);" ng-click="prevStep()") Passo anterior
      a.button.primary(href="javascript:void(0);" ng-click="nextStep()" ng-hide="isStep(total)") Próximo passo
      a.button.primary(ui-sref="home" ng-show="isStep(total)") Acessar
