@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700,300,500,600);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);

body {
  font-family: "PT Serif", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hind Siliguri", "Helvetica", "Arial", sans-serif;
  line-height: 1.2;
}
h1,
h2 {
  text-shadow: 2px 2px 0px rgba(255, 15, 0, 0.6);
}

a {
  color: rgba(255, 15, 0, 0.8);
  text-decoration: none;
}

p {
  margin: 0 0 40px;
}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
  .wp-caption-text {
    text-align: right;
  }
}

.wp-caption-text {
  font-size: 14px;
  color: #999;
}

a.button,
.button,
button,
input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-family: "Hind Siliguri";
  &:hover {
    color: #333;
  }
}

#masthead {
  position: absolute;
  z-index: 9997;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/halftone_light.png);
  padding: 10% 5% 40px;
  transition: all .4s ease-in-out;
  .header-main {
    float: left;
    width: 50%;
    padding-top: 10%;
    transition: all .4s ease-in-out;
  }
  #mastnav {
    position: absolute;
    top: 10px;
    right: 10px;
    .icon {
      font-size: 30px;
      line-height: 1;
      position: relative;
      z-index: 2;
      text-decoration: none;
    }
    ul {
      z-index: 1;
      position: fixed;
      top: 0;
      right: -30%;
      bottom: 0;
      background: #fff;
      width: 30%;
      margin: 0;
      padding: 50px 0 0;
      list-style: none;
      transition: all .2s ease-in-out;
      li {
        margin: 0;
        padding: 0;
        a {
          display: block;
          font-size: 30px;
          line-height: 1;
          padding: 20px;
          border-bottom: 1px solid #eee;
          text-decoration: none;
        }
      }
    }
    &.active {
      ul {
        right: 0;
      }
    }
  }
  #intro {
    float: right;
    width: 20%;
    padding-top: 15%;
    .by {
      margin: 0 0 20%;
      p {
        font-size: 18px;
        color: #999;
      }
      text-transform: uppercase;
      img {
        display: block;
        margin: 10px 0 0;
      }
    }
    p {
      font-size: 1.8vw;
      .number-1 {
        font-size: 1.9vw;
        font-weight: 600;
      }
    }
  }
  h1 {
    color: #111;
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 4vw;
    line-height: 1;
    transition: all .4s ease-in-out;
    text-shadow: 2px 2px 0px rgba(255, 15, 0, 0.6);
    letter-spacing: -.2vw;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  a {
    color: #333;
  }
  &.collapsed {
    z-index: 99990;
    position: fixed;
    padding: 10px;
    height: 30px;
    bottom: auto;
    background: url(../img/halftone_clear.png);
    .header-main {
      padding-top: 0;
      width: 50%;
      float: left;
    }
    h1 {
      margin: 0;
      font-size: 1.2em;
      line-height: 30px;
      text-shadow: 0 0 0;
      letter-spacing: -1px;
    }
  }
}

.button-nav {
  .button {
    display: inline-block;
    margin: 0 10px 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 10px 15px;
    text-decoration: none;
    background: rgba(255,255,255,0.3);
  }
}

#dossies {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  padding-top: 10px;
  width: 100%;
  transition: all .4s ease-in-out;
  &.collapsed {
    width: 70%;
    bottom: -100px;
    &:hover {
      bottom: 0;
    }
    .dossie-list li {
      vertical-align: baseline;
    }
  }
  &.in-case {
    width: 60%;
  }
  h2 {
    font-size: 26px;
    text-transform: uppercase;
    margin: -25px 20px 5px;
    line-height: 1;
  }
  .dossie-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    border-top: 1px solid rgba(0,0,0,0.4);
    background: url(../img/halftone_clear.png);
    li {
      display: table-cell;
      padding: 10px 20px;
      table-layout: fixed;
      vertical-align: middle;
      width: 1%;
      border-right: 1px solid rgba(0,0,0,0.4);
      // color: #f0f0f0;
      position: relative;
      &:last-child {
        border-right: 0;
      }
      .image {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.2;
      }
      article {
        position: relative;
        z-index: 2;
        h3 {
          font-size: 22px;
          line-height: 1;
          a {
            color: inherit;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#casos {
  position: fixed;
  right: 0;
  width: 30%;
  top: 0;
  bottom: 0;
  background: url(../img/halftone_clear.png);
  margin-top: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .4s ease-in-out;
  z-index: 10;
  border-left: 1px solid #ccc;
  &.collapsed {
    right: -30%;
    &:hover {
      right: 0;
    }
  }
  &.in-case {
    right: -25%;
    &:hover {
      right: 0;
    }
    &.force {
      right: -25% !important;
    }
  }
  #casos-filters {
    background: #fff;
    padding: 20px;
    h2 {
      text-shadow: 0 0 0;
      margin: 0;
      color: #666;
    }
    input,
    select {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #eee;
      background: #fff;
      display: block;
      margin: 0 0 10px;
    }
  }
  .caso-list {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      margin: 0;
      padding: 0;
      article {
        // margin: 10px;
        padding: 20px;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        // background: #fff;
        .caso-header {
          margin: -20px -20px 20px;
          background: rgba(255,255,255,0.5);
          padding: 20px;
          h3 {
            font-size: 24px;
            line-height: 28px;
            margin: 0 0 10px;
            a {
              text-decoration: none;
              color: inherit;
            }
          }
          .header-meta {
            .meta {
              display: inline-block;
              color: #666;
              margin-right: 10px;
              font-family: "Hind Siliguri";
              .icon {
                margin-right: 5px;
              }
              p {
                margin: 0;
                display: inline-block;
                font-size: 16px;
              }
              &.date {
                p.date-info {
                  .mes,
                  .dia {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
        p {
          margin: 0 0 20px;
        }
        .report {
          color: #999;
          margin: 0;
        }
        .location {
          float: right;
          width: 30%;
          margin: 0 0 20px 20px;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 3px;
          position: relative;
          background: #fff;
          a {
            color: inherit;
            text-decoration: none;
          }
          .icon {
            font-size: 22px;
            text-shadow: 2px 1px 0 rgba(255, 15, 0, .6);
            position: absolute;
            top: -12px;
            right: -5px;
          }
          p.location-info {
            text-align: center;
            margin: 0;
            span {
              display: block;
            }
            .ti {
              font-size: 18px;
            }
            .mun {
              font-size: 14px;
              opacity: .7;
            }
            .uf {
              font-size: 12px;
              opacity: .7;
            }
          }
        }
      }
    }
  }
}

.map-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70%;
  // transition: all .25s linear;
  #map {
    width: 100%;
    height: 100%;
    // transition: all .25s linear;
  }
  &.full {
    width: 66.6666%;
    left: auto;
    right: 0;
    #map {
      position: absolute !important;
      top: 0;
      bottom: 0;
      width: 200%;
      left: -50%;
      .leaflet-right {
        right: 25%;
      }
    }
  }
  &.in-case {
    width: 60%;
  }
  &.collapsed {
    // currently the same as regular
    width: 70%;
  }
  .leaflet-top {
    top: 50px;
  }
  .leaflet-bottom {
    bottom: 40px;
  }
  .leaflet-popup-content {
    h2,
    h3 {
      text-shadow: 0 0 0;
    }
  }
  .leaflet-marker-icon.pin {
    &:before {
      content: "\e6f6";
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 16px;
      display: block;
      line-height: 1;
      color: #fff;
      text-shadow: 1px 1px 0 rgba(255, 15, 0, .6);
    }
  }
  .leaflet-marker-icon.marker-cluster {
    background: transparent;
    background-image: url(../img/halftone_light.png);
    border-radius: 4px;
    width: 30px !important;
    height: 30px !important;
    margin-top: -15px !important;
    margin-left: -15px !important;
    &:before {
      content: "\e6f6";
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      font-size: 14px;
      top: -7px;
      left: 40%;
      color: #fff;
      text-shadow: 1px 1px 0 rgba(255, 15, 0, .6);
    }
    div {
      border-radius: 0;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      border: 1px solid rgba(0,0,0,0.3);
      border-radius: 4px;
      margin: 0;
      span {
        font-weight: 600;
        font-family: "Hind Siliguri";
      }
    }
    &.marker-cluster-small {
      div {
        background: rgba(200, 200, 200, 0.6);
      }
    }
    &.marker-cluster-medium {
      div {
        background: rgba(233, 211, 10, 0.6);
      }
    }
    &.marker-cluster-large {
      div {
        background: rgba(164, 0, 0, 0.6);
      }
    }
  }
}

#case.single {
  position: absolute;
  top: 50px;
  right: 0;
  width: 40%;
  padding: 40px 10% 40px 40px;
  z-index: 5;
  background: #fff;
  box-sizing: border-box;
  a.icon-cross {
    color: #333;
    text-decoration: none;
    float: right;
    margin: 0 0 20px 20px;
    font-size: 26px;
  }
  h1 {
    line-height: 1.2;
  }
}

.single-content {
  h2 {
    text-shadow: 0 0 0;
    font-size: 30px;
    border-bottom: 1px solid #ddd;
    line-height: 1.2;
    padding-bottom: 10px;
  }
  h3 {
    line-height: 1.2;
    font-size: 24px;
  }
}

#dossier.single {
  position: relative;
  z-index: 100;
  margin-top: 20%;
  margin-left: 5%;
  width: 45%;
  min-width: 500px;
  max-width: 800px;
  .dossier-header {
    margin: 0 0 30px;
    h1 {
      color: #fff;
      font-size: 40px;
      width: 70%;
      line-height: 1.2;
    }
  }
  .dossier-content {
    font-size: 18px;
    background: #fff;
    padding: 30px;
    .excerpt {
      font-size: 22px;
      color: #666;
      font-style: italic;
      line-height: 1.5;
    }
    p,
    ul {
      margin: 0 0 30px;
    }
  }
  .dossier-author {
    border-top: 1px solid #ddd;
    background: #fff;
    padding: 30px;
    font-size: 18px;
    h2 {
      font-style: italic;
      font-size: 20px;
      text-shadow: 0 0 0;
      color: #999;
      margin: 0;
      font-weight: normal;
    }
    h3 {
      font-size: 30px;
      line-height: 1.2;
      margin: 0 0 10px;
    }
  }
}

#page.single {
  position: relative;
  z-index: 99982;
  background: rgba(255,255,255,0.8);
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 40%;
  min-width: 500px;
  max-width: 800px;
  margin: 0;
  .page-header {
    margin: 0 0 30px;
  }
  .page-content {
    font-size: 20px;
    background: #fff;
    padding: 30px;
    p,
    ul {
      margin: 0 0 30px;
    }
  }
}
