@media (max-width: 1000px) {
  #casos-filters {
    display: none;
  }
}
@media (max-width: 768px) {
  .leaflet-control-zoom {
    display: none !important;
  }
  #masthead {
    &.collapsed {
      .header-main {
        margin-top: 0;
        margin-right: 170px;
        h1 {
          display: table;
          height: 30px;
          font-size: .8em;
          a {
            display: table-cell;
            vertical-align: middle;
            line-height: .9;
          }
        }
      }
    }
    .header-main {
      width: auto;
      float: none;
      margin-top: 60px;
      h1 {
        font-size: 10vw;
      }
      .button {
        display: block;
        width: auto;
        text-align: center;
        margin-bottom: 40px;
      }
    }
    #mastnav {
      > ul {
        width: 100%;
        right: -100%;
      }
      &.active {
        > ul {
          right: 0;
        }
      }
    }
    #intro {
      padding: 0;
      width: auto;
      float: none;
      p {
        font-size: 6vw;
      }
    }
  }
  #dossies.active {
    max-height: 1000px;
  }
  #dossies .dossie-list {
    display: block;
    li {
      display: block;
      width: auto;
      border-right: 0;
      border-bottom: 1px solid rgba(0,0,0,0.4);
    }
  }
  .casos-toggle {
    display: none;
  }
  #page.single {
    padding-left: 0;
    padding-right: 0;
    min-width: 0;
    max-width: auto;
    width: auto;
    margin: 0;
    .page-header {
      margin: 0 30px 30px;
    }
  }
  #dossier.single {
    margin-left: 0;
    width: auto;
    min-width: 0;
    max-width: auto;
    z-index: 99984;
    .dossier-header {
      margin: 0 30px 30px;
    }
  }
  .single-content {
    word-wrap: break-word;
  }
}
