doctype html
html
  head
    title Cartografia da Violência Contra os Povos Indígena
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="fragment" content="!")
    link(rel="stylesheet" href="/static/leaflet/dist/leaflet.css")
    link(rel="stylesheet" href="/css/app.css")
  body
    header#masthead
      h1 Cartografia da Violência Contra os Povos Indígena
    section#content(ui-view autoscroll="false")
    script(type="text/javascript" src="/static/angular/angular.min.js")
    script(type="text/javascript" src="/static/ui-router/release/angular-ui-router.min.js")
    script(type="text/javascript" src="/static/leaflet/dist/leaflet.js")
